/* >>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>>> Start <<<<<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<  */

/*-----------------------------*/
/* ---------- Fonts ----------- */
/*-----------------------------*/

@import url("../fonts/stylesheet.css");


/*-----------------------------*/
/* ------- Generic CSS -------- */
/*-----------------------------*/

$white: #fff;
$lightGray: #efefef;
$lightBlack: #505050;
$black: #000;

$orange: #bb009c;
$bg: rgb(246, 246, 246);


/* Functions to encode the SVG as per the theme colors  */
@function arrow($fill-color) {
    @return '<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5.968" viewBox="0 0 10 5.968"><path id="Chevron_down" data-name="Chevron down" d="M9.665,1.825,5.843,5.645a1.06,1.06,0,0,1-.863.3,1.063,1.063,0,0,1-.864-.3L.3,1.825A1.081,1.081,0,0,1,1.825.3L4.981,3.452,8.136.3A1.081,1.081,0,0,1,9.665,1.825Z" transform="translate(0.019 0.02)" fill="'+$fill-color +'" fill-rule="evenodd"/></svg>';
}

@function date($fill-color) {
    @return '<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"><g id="Group_6655" data-name="Group 6655" transform="translate(-181 -259)"><g id="Group_6654" data-name="Group 6654"><rect id="Rectangle_10" data-name="Rectangle 10" width="50" height="50" rx="10" transform="translate(181 259)" fill="'+$fill-color +'" /></g><g id="calendar" transform="translate(190.809 270.526)"><path id="Path_28" data-name="Path 28" d="M27.911,1.884h-3.3V.471A.471.471,0,0,0,24.142,0h-3.3a.471.471,0,0,0-.471.471V1.884H10.009V.471A.471.471,0,0,0,9.538,0H6.24a.471.471,0,0,0-.471.471V1.884h-3.3A.471.471,0,0,0,2,2.356V27.8a.471.471,0,0,0,.471.471h25.44a.471.471,0,0,0,.471-.471V2.356A.471.471,0,0,0,27.911,1.884Zm-6.6-.942h2.356V3.769H21.315V.942Zm-14.6,0H9.067V3.769H6.711V.942ZM2.942,2.827H5.769V4.24a.471.471,0,0,0,.471.471h3.3a.471.471,0,0,0,.471-.471V2.827H20.373V4.24a.471.471,0,0,0,.471.471h3.3a.471.471,0,0,0,.471-.471V2.827H27.44v4.24H2.942Zm0,24.5V8.009h24.5V27.324Z" transform="translate(0 -1)" fill="#fff" /><path id="Path_29" data-name="Path 29" d="M23.72,23H11V36.662H28.9V23H23.72Zm-3.3.942h3.3v3.3h-3.3Zm3.3,7.538h-3.3v-3.3h3.3Zm-7.538-3.3h3.3v3.3h-3.3Zm0-4.24h3.3v3.3h-3.3Zm-4.24,0h3.3v3.3h-3.3Zm0,4.24h3.3v3.3h-3.3Zm3.3,7.538h-3.3v-3.3h3.3Zm4.24,0h-3.3v-3.3h3.3Zm4.24,0h-3.3v-3.3h3.3Zm4.24,0h-3.3v-3.3h3.3Zm0-4.24h-3.3v-3.3h3.3Zm0-7.538v3.3h-3.3v-3.3Z" transform="translate(-4.76 -13.165)" fill="#fff" /></g></g></svg>';
}

@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1)+$replace +str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

$encoding-reference: (
    ('<', '%3C'),
    ('>', '%3E'),
    ('"', '\''),
    ('#', '%23'),
    ('&', '%26')
);

@function svg-encode($svg) {

    @each $char,
    $encoded in $encoding-reference {
        $svg: str-replace($svg, $char, $encoded);
    }

    @return 'data:image/svg+xml,'+$svg;
}


/* Encoded SVGS */
$arrow-down: arrow($orange);
$date: date($orange);

body {
    overflow-x: hidden;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.27;
}

.container,
.container-fluid {
    padding: 0px 30px;
}

P,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    margin: 0;
}

table {
    &.table {
        &>:not(caption)>*>* {
            padding: 16px 40px;
        }

        &>:not(:last-child)>:last-child>* {
            border-bottom-color: $lightBlack;
        }
    }

    tr {
        th {
            text-transform: uppercase;
            color: $orange;
        }

        &:nth-child(even) {
            background: rgba($orange, 0.09) !important;
        }

        &:nth-child(odd) {
            background: $white !important;
        }
    }
}

/* Line */
.line {
    width: 100%;
    max-width: 350px;
    height: 1px;
    background: #e9e9e9;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 35px;
}

/* All inputs */
input[type="text"],
input[type="number"],
input[type="date"] {
    position: relative;
    display: block;
    padding: 15px;
    color: $lightBlack;
    border: 1px solid $lightGray;
    border-radius: 6px;
    background-color: $white;
    height: 50px;
    width: 100%;
    outline: none;
    z-index: 1;

    &::placeholder {
        color: $lightBlack;
    }

    &:hover,
    &:focus {
        box-shadow: 0 0 10px rgb(235, 235, 235);
    }
}

input[type="date"] {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: visible;
    height: 50px;
    width: 100%;
    min-width: 100%;
    text-align: left;
    padding: 15px;
}

input[type="date"]::-webkit-calendar-picker-indicator,
#picker::-webkit-calendar-picker-indicator {
    content: url(svg-encode($date));
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -3px;
    right: -3px;
    z-index: 99;
    border-radius: 1px;
    opacity: 0;
}

input[type="date"]::after {
    content: url(svg-encode($date));
    cursor: pointer;
    position: absolute;
    pointer-events: none;
    top: 0px;
    right: -1px;
    z-index: 99;
    border-radius: 1px;
}

input[type="file"] {
    margin-left: -2px !important;
    margin-left: 15px !important;
    background: transparent;
    border: none;
    max-width: 250px;

    &:focus {
        box-shadow: none !important;
        background: transparent;
    }

    &::-webkit-file-upload-button {
        display: none;
    }

    &::file-selector-button {
        display: none;
    }
}

/* Input Group */
.input-group {
    align-items: center;

    .input-group-text {
        padding: 9px 20px !important;
        border-radius: 6px !important;
        text-align: center;
    }
}

/* Input Control */
.input-control {
    padding: 11px;

    /* label */
    label {
        display: block;
        width: fit-content;
        font-weight: 600;
        text-transform: uppercase;
        padding-left: 7px;
        margin-bottom: 5px;
        color: $orange;

        &.input-group-text {
            margin-bottom: 0px;
            cursor: pointer;
            color: $white;
            border: 1px solid $orange;
            border-radius: 25px;
            background-color: $orange;
            text-transform: inherit;
            font-weight: 600;
            text-align: center;
        }
    }

    /* error message*/
    .error-message {
        display: none;
        color: red;

        &.show {
            display: block;
            padding-top: 10px;

            @media screen and (max-width: 767px) {
                font-size: 12px;
                padding-top: 7px;
            }
        }
    }
}

/* If Input has icon */
.input-has-icon {
    display: flex;
    align-items: center;

    input {
        margin-right: 15px;
    }

    .icon-wrapper {
        position: relative;
        cursor: pointer;
        color: $orange;
    }

    /* Tooltip */
    ._tooltip {
        list-style-type: none;
        display: inline-block;
        position: relative;

        span {
            position: absolute;
            display: inline-block;
            top: -60px;
            left: 50%;
            transform: translateX(-50%);
            box-shadow: 0 0 16px rgb(236, 236, 236);

            font-size: 14px;
            white-space: nowrap;
            padding: 14px 18px;
            border-radius: 3px;
            background: $white;
            color: $lightBlack;
            z-index: 9;

            visibility: hidden;
            opacity: 0;

            @media screen and (max-width: 576px) {
                left: auto;
                right: 0px;
                transform: unset;
            }

            &:after {
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);

                @media screen and (max-width: 576px) {
                    left: auto;
                    right: 15px;
                    transform: unset;
                }

                content: '';
                border-top: 11px solid $orange;
                border-left: 11px solid transparent;
                border-right: 11px solid transparent;
            }
        }

        /* Tootip will only show by the   */
        & .icon-wrapper:hover+span {
            visibility: visible;
            opacity: 1;
        }
    }
}

/* Buttons */
.btn {
    padding: 16px 25px;
    font: normal normal normal 14px/16px "Montserrat";
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 25px;
    font-weight: 500;
    color: $white;
    transition: .4s all ease;
    pointer-events: all;

    @media screen and (max-width: 767px) {
        padding: 17px 22px;
        border-radius: 28px;
    }

    &-has-width {
        width: 100%;
        max-width: 300px;
    }

    &-primary {
        background: $orange;
        border: 1px solid $orange;
        color: $white;
        text-align: center;

        &:hover,
        &:focus,
        &:active,
        &:active:focus {
            background: $white;
            border: 1px solid $orange;
            color: $orange;
            box-shadow: none;
        }
    }

    &-secondary {
        background: $white;
        border: 1px solid $orange;
        color: $orange;
        text-align: center;

        &:hover,
        &:focus,
        &:active,
        &:active:focus {
            background: $orange;
            border: 1px solid $white;
            color: $white;
            box-shadow: none;
        }
    }

    &-disabled {
        background: $white;
        color: $lightBlack;
        opacity: 1;
        pointer-events: none;

        &:hover {
            border: 1px solid #F0F2F7;
        }
    }
}

/* Nice Select */
.nice-select {
    width: 100%;
    height: auto;
    padding: 15px 17px;
    font-size: 14px;
    line-height: 1.35;
    letter-spacing: 0px;
    color: $lightBlack;
    background: $white;
    border: 0px;
    border-radius: 0px;

    &:hover,
    &:focus {
        box-shadow: 0 0 10px rgb(235, 235, 235);
    }

    &:after {
        display: none;
    }

    &::before {
        content: '';
        color: red;
        background-image: url(svg-encode($arrow-down));
        background-size: 10px 6px;
        display: block;
        position: absolute;
        width: 10px;
        height: 6px;
        right: 18px;
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
        transition: .4s all ease;
    }

    &.open {
        &::before {
            transform: translateY(-50%) rotate(-180deg);
        }
    }

    .current {
        color: $lightBlack;
    }

    .list {
        margin-top: 0px;
        width: 100%;
        border-radius: 0px;
        box-shadow: 0px 3px 8px rgb(236, 236, 236);

        li {
            padding: 17px;
            line-height: 1;
            background: $white;
            border: 0px;

            &.selected.focus {
                background: $white;

                &:hover {
                    background: rgba($black, 0.05);
                }
            }

            &:not(:last-child) {
                border-bottom: 1px solid #E3E8F0;
            }

            &:hover {
                background: rgba($black, 0.05);
            }
        }
    }

    &:focus {
        border: none;
        outline: none;
    }
}

/*-----------------------------*/
/* ----------- Main ----------- */
/*-----------------------------*/

main {
    padding: 60px 0px 80px;
    overflow-x: hidden;
    background: $bg;

    @media screen and (max-width: 767px) {
        padding: 40px 0 60px;
    }
}

/*-----------------------------*/
/* ------- Progress bar ------- */
/*-----------------------------*/

.progress {
    background: $orange;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 4px;
    display: none;
    height: 40px;
    width: 100%;

    &.show {
        display: flex;
    }

    &-value {
        animation: load 1s 1;
        border-radius: 100px;
        background: $white;
        height: 32px;
        color: $orange;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 600;
        width: 100%;
    }

    @keyframes load {
        0% {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }
}

/*-----------------------------*/
/* --=---- Leaderboard -------- */
/*-----------------------------*/

#leaderboard {
    padding: 35px 40px 25px;
    border-radius: 12px;
    background: $white;
    box-shadow: 0 0 16px rgb(243, 243, 243);

    @media screen and (max-width: 992px) {
        padding: 12px 60px 0 0;
        margin-right: -30px;
    }

    table {
        background: $white;
        min-width: 560px;
        margin-right: -30px;
    }
}

/*-----------------------------*/
/* ---------- Header ---------- */
/*-----------------------------*/

.site-header {
    background: $white;
    box-shadow: 0px 3px 6px rgb(169 169 169 / 10%);
    padding: 22px 30px;
    position: relative;
    z-index: 99;

    @media screen and (max-width: 767px) {
        padding: 14px 30px;
    }

    .navbar {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0;

        &-left {
            h2 {
                font-size: 24px;
                line-height: 1;

                @media screen and (max-width: 767px) {
                    font-size: 18px;
                }

                span {
                    color: $orange;
                }
            }
        }

        &-right {
            svg {
                cursor: pointer;
                color: $orange;
            }
        }
    }
}

/*-----------------------------*/
/* ----------- Modal ---------- */
/*-----------------------------*/

.modal {

    &-dialog {
        width: calc(100% - 40px);
        margin: 0 auto;
        margin-top: 30px;
        max-width: 500px;
    }

    &-content {
        padding: 30px;
        border-radius: 30px;
        width: 100%;

        .form-control {
            border-color: #cfcfcf;

            &:hover,
            &:active,
            &:focus,
            &:active:focus {
                box-shadow: none;
                border-color: $lightGray;
            }

            &:hover,
            &:focus {
                box-shadow: 0 0 10px rgb(235, 235, 235);
            }
        }

        @media screen and (max-width: 992px) {
            padding: 18px;
        }
    }

    &-header {
        h5 {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            color: $orange;
        }
    }

    &-footer {
        display: flex;
        justify-content: space-between;

        button {
            width: calc(50% - 10px);
            margin: 0 auto;
            margin-top: 20px;
        }
    }
}

/* >>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<  */